<p-toast key="globalMessage"></p-toast>
<div class="p-4">
  <form [formGroup]="deductionForm" (submit)="submit()">
    <div class="grid grid-cols-12 gap-2">
      <!-- #region Allowance Id -->
      <div class="xl:col-span-6 col-span-12 flex flex-col gap-2">
        <label>Deduction Id</label>
        <input pInputText formControlName="deductionId" type="number" />
      </div>
      <!-- #endregion -->

      <!-- Company Id -->
      <div class="col-span-6 flex flex-col gap-2">
        <label>Company Id</label>
        <p-select
          [options]="companies"
          [(ngModel)]="selectedCompany"
          optionLabel="companyName"
          placeholder="Select a City"
          (onChange)="onCompanyChange()"
          class="w-full"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['companyId'].invalid &&
              deductionForm.get('companyId')?.dirty
          }"
        />

        <small
          *ngIf="
            deductionForm.controls['companyId'].invalid &&
            deductionForm.get('companyId')?.dirty
          "
          class="p-text"
        >
          Company Is Required.
        </small>
      </div>

      <!-- Branch ID -->
      <div class="col-span-6 flex flex-col gap-2">
        <label>Branch Id</label>

        <p-select
          [options]="branches"
          [(ngModel)]="selectedBranch"
          optionLabel="branchName"
          placeholder="Select a Name"
          (onChange)="onBranchChange()"
          class="w-full"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['branchId'].invalid &&
              deductionForm.get('branchId')?.dirty
          }"
        />

        <small
          *ngIf="
            deductionForm.controls['branchId'].invalid &&
            deductionForm.get('branchId')?.dirty
          "
          class="p-text text-red-500"
        >
          Branch Is Required.
        </small>
      </div>

      <!-- Department Id -->
      <div class="col-span-6 flex flex-col gap-2">
        <label>Dept Id</label>
        <p-select
          [options]="departments"
          [(ngModel)]="selectedDepartments"
          optionLabel="deptName"
          placeholder="Select a Name"
          (onChange)="onDepartmentChange()"
          class="w-full"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['deptId'].invalid &&
              deductionForm.get('deptId')?.dirty
          }"
        />

        <small
          *ngIf="
            deductionForm.controls['deptId'].invalid &&
            deductionForm.get('deptId')?.dirty
          "
          class="p-text text-red-500"
        >
          Dept Id Is Required.
        </small>
      </div>

      <!-- Allowance Name -->
      <div class="col-span-6 flex flex-col gap-2">
        <label>Deduction Name</label>
        <input pInputText formControlName="deductionName" type="text" />
        <small
          *ngIf="
            deductionForm.controls['deductionName'].invalid &&
            deductionForm.get('deductionName')?.dirty
          "
          class="p-text text-red-500"
        >
          deduction Name is Required.
        </small>
      </div>

      <!-- Status -->
      <div class="col-span-12 flex flex-col gap-2">
        <label>Status</label>
        <p-toggleswitch formControlName="status" />
      </div>

      <!-- Submit -->
      <div class="col-span-12">
        <button
          pButton
          type="submit"
          icon="pi pi-check"
          [disabled]="isSubmitting"
          class="w-24"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
